.home-screen {
  display: flex;
  position: fixed;
  width: 100%;
  flex-direction: column;
}

#main {
    transition: margin-left .5s;
    padding: 0px;
}

.title-bar {
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #3B3838;
    color: #ECF0F1;
}

.title-btnMenu {
    background-color: #3B3838 !important;
    height: 40px !important;
    width: 35px;
    border: none !important;
}

:host /deep/ .title-btnMenu .ui-button-icon-left{
    margin-left: -14px;
    margin-top: -10px;
}

title-search-component {
    width: 98%;
}