<div class="home-screen">

    <div id="main" [@contentInOut]="menuState">
        <app-menu [@slideInOut]="menuState" [menuItems]="items"></app-menu>
        <div class="title">
            <button #btnMenu type="button" pButton icon="fa fa-list" class="btnMenu"  (click)="toggleMenu()"></button>
        </div>
        <div class="row">
            <nav>
                <a routerLink="/test" routerLinkActive="active">test</a>
                <a href="/test">test1</a>
            </nav>
            <!--router-outlet></router-outlet-->
            <p><a [routerLink]="['/login']" routerLinkActive="active">Logout</a></p>
        </div>
    </div>

</div>


