.logbook-container {
    display: flex;
    flex-direction: column;
}

.logbook-container .header-bar {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid;
    flex-wrap: wrap;
}

.logbook-container .header-bar .filter-div {
    display: flex;
    flex-direction: column;
    padding:5px;
}

:host /deep/ #dpxService .ui-dropdown {
    width: 150px!important;
}

:host /deep/ #dpxType .ui-dropdown {
    width: 60px!important;
}

#div-search {
    margin-top: 15px;
}
