<div class="logbook-container">
    <div class="header-bar">
        <div class="filter-div">
            <div class="filter-label">
                <span>LogId</span>
            </div>
            <div>
                <input type="text" pInputText [(ngModel)]="filterLogBook.logId" placeholder='LogId' class="filter" />
            </div>
        </div>
        <div class="filter-div">
            <div class="filter-label">
                <span>Negocio Id</span>
            </div>
            <div>
                <input type="text" pInputText [(ngModel)]="filterLogBook.businessId" placeholder='Id Negocio' class="filter" />
            </div>
        </div>
        <div class="filter-div">
            <div class="filter-label">
                <span>Servicios</span>
            </div>
            <div>
                <p-dropdown id="dpxService" [options]="serviceList" [(ngModel)]="selectedService" [filter]="true" class="filter-drop">
                    <template let-service>
                        <div class="iconsole-dp">
                            <div>{{service.label}}</div>
                            <div>{{service.value.id}}</div>
                            <div>{{service.value.name}}</div>
                        </div>
                    </template>
                </p-dropdown>
            </div>
        </div>
        <div class="filter-div">
            <div class="filter-label">
                <span>Fecha Desde:</span>
            </div>
            <div>
                <p-calendar [(ngModel)]="filterLogBook.dateFrom" class="filter-date"></p-calendar>
            </div>
        </div>
        <div class="filter-div">
            <div class="filter-label">
                <span>Fecha Hasta:</span>
            </div>
            <div>
                <p-calendar [(ngModel)]="filterLogBook.dateTo" class="filter-date"></p-calendar>
            </div>
        </div>
        <div class="filter-div">
            <div class="filter-label">
                <span>Tipo</span>
            </div>
            <div>
                <p-dropdown id="dpxType" [options]="logTypeList" [(ngModel)]="selectedLogType" [filter]="true" class="filter-drop"></p-dropdown>
            </div>
        </div>
        <div class="filter-div">
            <div id="div-search">
                <button pButton type="button" label="Buscar" (click)="onSearch()" class="search-btn"></button>
            </div>
        </div>
    </div>
</div>